        body {
            /* 背景图垂直、水平均居中 */
            background-position: center center;
            /* 背景图不平铺 */
            background-repeat: no-repeat;
            /* 当内容高度大于图片高度时，背景图像的位置相对于viewport固定 */
            background-attachment: fixed;
            /* 让背景图基于容器大小伸缩 */
            background-size: cover;
            /* 隐藏溢出页面的部分 */
            overflow: hidden;
            /*隐藏滚动条*/
        }

        .centerVbox {
            /* Center Vertically */
            position: absolute;
            width: auto;
            /*宽度自动匹配*/
            height: 150px;
            /*高度固定*/
            top: 0;
            /*绝对居中，支持响应式*/
            bottom: 5em;
            left: 0;
            right: 0;
            margin: auto;
            overflow:hidden;
            /*隐藏滚动条*/
            /* https://blog.csdn.net/weixin_48596030/article/details/123904667 */
        }

        .title {
            font-family: mainTitle;
            /*自制字体*/
            font-size: 2.2em;
            /*字体大小*/
            text-shadow: 3px 3px 5px #708090;
            /*只有前两个参数是纯阴影，有第三个是发光阴影*/
            font-weight: bold;
            /*加粗字体*/
            line-height: 5px;
            color: white;
        }

        footer {
            width: 100%;
            bottom: 5.5px;
            position: fixed;
            color: rgb(139, 154, 168);
            text-align: center;
            font-size: .6em;
            letter-spacing:.2px;
            text-shadow: 3px 3px 5px #708090;
        }

        @font-face {
            /*自制字体*/
            font-family: mainTitle;
            src: url('font.TTF');
            /*华文细黑体*/
        }

        @font-face {
            /*自制字体*/
            font-family: underTitle;
            src: url('Droid-Sans-Mono.ttf');
        }